Loading Dataset

In [32]:
import numpy as np
import pandas as pd

In [33]:
data = pd.read_csv('deliveries.csv')

In [34]:
data.head(3)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

Virat Kohli Stats

In [36]:
virat = data[data['batsman'] == 'V Kohli']
virat.shape

(4211, 21)

In [40]:
virat['bowling_team'] = virat['bowling_team'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
virat['bowling_team'] = virat['bowling_team'].str.replace('Delhi Daredevils','Delhi Capitals')

C:\Users\bidwai_t\AppData\Local\Temp\ipykernel_88304\2675810267.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  virat['bowling_team'] = virat['bowling_team'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
C:\Users\bidwai_t\AppData\Local\Temp\ipykernel_88304\2675810267.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  virat['bowling_team'] = virat['bowling_team'].str.replace('Delhi Daredevils','Delhi Capitals')

In [41]:
virat['bowling_team'].unique()

array(['Mumbai Indians', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Delhi Capitals',
       'Rajasthan Royals', 'Chennai Super Kings', 'Sunrisers Hyderabad',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants'],
      dtype=object)

In [27]:
virat.sample(5)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
150374,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,6,6,V Kohli,CH Gayle,Mustafizur Rahman,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
133165,562,1,Royal Challengers Bangalore,Mumbai Indians,11,3,V Kohli,AB de Villiers,J Suchith,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
35729,153,2,Royal Challengers Bangalore,Mumbai Indians,4,4,V Kohli,JH Kallis,DJ Bravo,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
37241,159,2,Royal Challengers Bangalore,Chennai Super Kings,14,3,V Kohli,LRPL Taylor,SB Jakati,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
114782,484,2,Royal Challengers Bangalore,Mumbai Indians,9,2,V Kohli,CH Gayle,KA Pollard,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [28]:
total_runs = virat['batsman_runs'].sum()
print("Total_runs : ",total_runs)
balls_faced = virat['batsman_runs'].count()
print('Balls faced : ',balls_faced)
total_matches = len(virat['match_id'].unique())
dismisal_count  = virat['player_dismissed'].count()
print("Dismissed number : ",dismisal_count)
print("Total matches : ",total_matches)
print("Average : ",total_runs/dismisal_count)

Total_runs :  5434
Balls faced :  4211
Dismissed number :  152
Total matches :  169
Average :  35.75

In [29]:
matches = virat.drop_duplicates(subset=['match_id'])
matches.sample(5)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
32306,139,1,Royal Challengers Bangalore,Kings XI Punjab,13,1,V Kohli,MV Boucher,PP Chawla,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
173968,11330,1,Royal Challengers Bangalore,Chennai Super Kings,1,5,V Kohli,PA Patel,DL Chahar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
94974,401,2,Royal Challengers Bangalore,Delhi Capitals,4,5,V Kohli,AB de Villiers,M Morkel,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
109520,462,2,Royal Challengers Bangalore,Mumbai Indians,4,2,V Kohli,PA Patel,Z Khan,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
127711,538,2,Royal Challengers Bangalore,Chennai Super Kings,4,5,V Kohli,RR Rossouw,A Nehra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [50]:
matches['bowling_team'] = matches['bowling_team'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
matches['bowling_team'] = matches['bowling_team'].str.replace('Delhi Daredevils','Delhi Capitals')

In [51]:
matches['bowling_team'].unique()

array(['Mumbai Indians', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Delhi Capitals',
       'Rajasthan Royals', 'Chennai Super Kings', 'Sunrisers Hyderabad',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants'],
      dtype=object)

In [52]:
matches_with_each_team = matches['bowling_team'].value_counts()
matches_with_each_team

Mumbai Indians             24
Kings XI Punjab            23
Chennai Super Kings        23
Sunrisers Hyderabad        23
Kolkata Knight Riders      21
Delhi Capitals             20
Rajasthan Royals           19
Gujarat Lions               5
Pune Warriors               5
Rising Pune Supergiant      2
Kochi Tuskers Kerala        2
Rising Pune Supergiants     2
Name: bowling_team, dtype: int64

In [53]:
runs_per_team = virat.groupby(['bowling_team']).sum()
runs_per_team = runs_per_team['batsman_runs']
runs_per_team

bowling_team
Chennai Super Kings        749
Delhi Capitals             829
Gujarat Lions              283
Kings XI Punjab            636
Kochi Tuskers Kerala        50
Kolkata Knight Riders      675
Mumbai Indians             628
Pune Warriors              128
Rajasthan Royals           370
Rising Pune Supergiant      83
Rising Pune Supergiants    188
Sunrisers Hyderabad        815
Name: batsman_runs, dtype: int64

In [56]:
avg_per_team = runs_per_team/matches_with_each_team
avg_per_team

Chennai Super Kings        32.565217
Delhi Capitals             41.450000
Gujarat Lions              56.600000
Kings XI Punjab            27.652174
Kochi Tuskers Kerala       25.000000
Kolkata Knight Riders      32.142857
Mumbai Indians             26.166667
Pune Warriors              25.600000
Rajasthan Royals           19.473684
Rising Pune Supergiant     41.500000
Rising Pune Supergiants    94.000000
Sunrisers Hyderabad        35.434783
dtype: float64