Loading Dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('deliveries.csv')

In [4]:
data.head(3)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

Virat Kohli Stats

In [10]:
virat = data[data['batsman'] == 'V Kohli']
virat.shape

(4211, 21)

In [12]:
virat.sample(5)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
106201,448,1,Royal Challengers Bangalore,Kings XI Punjab,13,5,V Kohli,CA Pujara,PP Chawla,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
171484,11319,2,Royal Challengers Bangalore,Kings XI Punjab,9,1,V Kohli,AB de Villiers,R Ashwin,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
161769,7941,2,Royal Challengers Bangalore,Kings XI Punjab,1,5,V Kohli,PA Patel,R Ashwin,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
37193,159,2,Royal Challengers Bangalore,Chennai Super Kings,6,3,V Kohli,LRPL Taylor,L Balaji,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
173106,11326,1,Royal Challengers Bangalore,Kolkata Knight Riders,17,3,V Kohli,MP Stoinis,H Gurney,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [26]:
total_runs = virat['batsman_runs'].sum()
print("Total_runs : ",total_runs)
balls_faced = virat['batsman_runs'].count()
print('Balls faced : ',balls_faced)
total_matches = len(virat['match_id'].unique())
print("Total matches : ",total_matches)
print("Average : ",total_runs/total_matches)

Total_runs :  5434
Balls faced :  4211
Total matches :  169
Average :  32.15384615384615