Loading Dataset

In [112]:
import numpy as np
import pandas as pd

In [116]:
data1 = pd.read_csv('IPL_Ball_by_Ball.csv')
ipl_data1 = pd.read_csv('IPL_Data.csv')

In [117]:
data = data1.copy()
ipl_data = ipl_data1.copy()

In [118]:
ipl_data.head(3)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough

In [119]:
data.head(3)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals

In [120]:
data.groupby('batter').sum()['batsman_run'].sort_values(ascending=False)

batter
V Kohli           6634
S Dhawan          6244
DA Warner         5883
RG Sharma         5881
SK Raina          5536
                  ...
C Nanda              0
Akash Deep           0
S Ladda              0
V Pratap Singh       0
S Lamichhane         0
Name: batsman_run, Length: 605, dtype: int64

In [121]:
data['kind'].unique()

array([nan, 'caught', 'caught and bowled', 'run out', 'bowled', 'stumped',
       'lbw', 'hit wicket', 'retired hurt', 'retired out',
       'obstructing the field'], dtype=object)

In [122]:
vk = data[data['batter']=='V Kohli'].copy()
vk[vk['kind']=='run out']['non-striker'].value_counts()

AB de Villiers    3
GJ Maxwell        2
KD Karthik        2
PA Patel          2
JH Kallis         2
Anuj Rawat        1
KS Bharat         1
Q de Kock         1
TM Head           1
Mandeep Singh     1
CH Gayle          1
KP Pietersen      1
R Vinay Kumar     1
Name: non-striker, dtype: int64

In [131]:
vk.head(2)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
233,1312199,1,0,1,V Kohli,TA Boult,F du Plessis,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
234,1312199,1,0,2,V Kohli,TA Boult,F du Plessis,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore

In [123]:
vk.groupby('bowler')['batsman_run'].sum().sort_values(ascending = False) #runs scored most againt

bowler
R Ashwin         160
A Mishra         158
DJ Bravo         157
UT Yadav         150
JJ Bumrah        145
                ...
P Suyal            0
D Brevis           0
DAJ Bracewell      0
SS Cottrell        0
AN Ahmed           0
Name: batsman_run, Length: 248, dtype: int64

In [124]:
vk[~(vk.kind.isna())]['bowler'].value_counts() #Wicket taken most by

Sandeep Sharma     7
A Nehra            6
RA Jadeja          5
UT Yadav           5
Mohammed Shami     5
                  ..
S Nadeem           1
HH Pandya          1
Shakib Al Hasan    1
K Gowtham          1
MM Patel           1
Name: bowler, Length: 116, dtype: int64

In [125]:
All_Data = data.merge(ipl_data,how='inner',on='ID')
All_Data.shape

(225954, 36)

In [126]:
All_Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 225954 entries, 0 to 225953
Data columns (total 36 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int64
 1   innings            225954 non-null  int64
 2   overs              225954 non-null  int64
 3   ballnumber         225954 non-null  int64
 4   batter             225954 non-null  object
 5   bowler             225954 non-null  object
 6   non-striker        225954 non-null  object
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int64
 9   extras_run         225954 non-null  int64
 10  total_run          225954 non-null  int64
 11  non_boundary       225954 non-null  int64
 12  isWicketDelivery   225954 non-null  int64
 13  player_out         11151 non-null   object
 14  kind               11151 non-null   object
 15  fielders_involved  7988 non-null    object
 16  BattingTeam        225954 non-null  object
 17  City               213557 non-null  object
 18  Date               225954 non-null  object
 19  Season             225954 non-null  object
 20  MatchNumber        225954 non-null  object
 21  Team1              225954 non-null  object
 22  Team2              225954 non-null  object
 23  Venue              225954 non-null  object
 24  TossWinner         225954 non-null  object
 25  TossDecision       225954 non-null  object
 26  SuperOver          225582 non-null  object
 27  WinningTeam        225582 non-null  object
 28  WonBy              225954 non-null  object
 29  Margin             221948 non-null  float64
 30  method             3208 non-null    object
 31  Player_of_Match    225582 non-null  object
 32  Team1Players       225954 non-null  object
 33  Team2Players       225954 non-null  object
 34  Umpire1            225954 non-null  object
 35  Umpire2            225954 non-null  object
dtypes: float64(1), int64(9), object(26)
memory usage: 63.8+ MB

In [128]:
df = vk[vk.innings.isin([1, 2])].copy()
gb = df.groupby('ID').sum()
gb.batsman_run.sort_values(ascending=False).head(1).values[0]

113

In [140]:
def bowlingTeam(row):
    if row['BattingTeam'] == row['Team1']:
        return row['Team2']
    else:
        return row['Team1']

In [141]:
# All_Data['bowling_team'] = All_Data['Team1' if 'BattingTeam'=='Team2' else 'Team2']
All_Data['bowling_team'] = All_Data.apply(lambda row : bowlingTeam(row),axis=1)
All_Data.head(2)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,bowling_team
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,Gujarat Titans
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,...,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,Gujarat Titans

In [142]:
All_Data['bowling_team']

0                Gujarat Titans
1                Gujarat Titans
2                Gujarat Titans
3                Gujarat Titans
4                Gujarat Titans
                  ...
225949    Kolkata Knight Riders
225950    Kolkata Knight Riders
225951    Kolkata Knight Riders
225952    Kolkata Knight Riders
225953    Kolkata Knight Riders
Name: bowling_team, Length: 225954, dtype: object

In [144]:
All_Data[All_Data['batter']=='V Kohli'].groupby(['ID'])['batsman_run'].sum().sort_values(ascending=False)

ID       bowling_team
980999   Kings XI Punjab            113
980987   Gujarat Lions              109
980969   Rising Pune Supergiants    108
1178410  Kolkata Knight Riders      100
980937   Gujarat Lions              100
                                   ...
733991   Kings XI Punjab              0
1304100  Sunrisers Hyderabad          0
981013   Gujarat Lions                0
336012   Mumbai Indians               0
1082617  Kolkata Knight Riders        0
Name: batsman_run, Length: 215, dtype: int64

In [64]:
virat = All_Data[All_Data['batter']=='V Kohli']
virat.head(5)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,bowling_team
233,1312199,1,0,1,V Kohli,TA Boult,F du Plessis,NaN,0,0,...,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,Rajasthan Royals
234,1312199,1,0,2,V Kohli,TA Boult,F du Plessis,NaN,1,0,...,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,Rajasthan Royals
236,1312199,1,0,4,V Kohli,TA Boult,F du Plessis,NaN,0,0,...,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,Rajasthan Royals
237,1312199,1,0,5,V Kohli,TA Boult,F du Plessis,NaN,0,0,...,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,Rajasthan Royals
238,1312199,1,0,6,V Kohli,TA Boult,F du Plessis,NaN,6,0,...,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,Rajasthan Royals

In [65]:
k = virat[virat['bowling_team'] == 'Royal Challengers Bangalore']

In [66]:
k[['Team1','Team2','BattingTeam','bowling_team']]

Empty DataFrame
Columns: [Team1, Team2, BattingTeam, bowling_team]
Index: []

In [67]:
virat.groupby('bowling_team')['batsman_run'].sum().sort_values(ascending=False)

bowling_team
Chennai Super Kings        979
Kolkata Knight Riders      786
Mumbai Indians             774
Delhi Daredevils           761
Kings XI Punjab            681
Rajasthan Royals           600
Sunrisers Hyderabad        574
Deccan Chargers            306
Gujarat Lions              283
Rising Pune Supergiants    188
Delhi Capitals             164
Gujarat Titans             131
Pune Warriors              128
Punjab Kings               121
Rising Pune Supergiant      83
Kochi Tuskers Kerala        50
Lucknow Super Giants        25
Name: batsman_run, dtype: int64

In [98]:
virat.sample(2)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,bowling_team
185240,419162,2,10,2,V Kohli,CRD Fernando,LRPL Taylor,NaN,0,0,...,Mumbai Indians,Runs,35.0,NaN,KA Pollard,"['JH Kallis', 'R Dravid', 'KP Pietersen', 'RV ...","['S Dhawan', 'SR Tendulkar', 'AM Nayar', 'AT R...",BR Doctrove,RB Tiffin,Mumbai Indians
40246,1216519,2,6,2,V Kohli,R Ashwin,MM Ali,NaN,1,0,...,Delhi Capitals,Runs,59.0,NaN,AR Patel,"['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...","['D Padikkal', 'AJ Finch', 'V Kohli', 'AB de V...",Nitin Menon,YC Barde,Delhi Capitals

In [155]:
df = vk[vk.innings.isin([1, 2])].copy()
gb = df.groupby('ID').sum()
gb.rename(columns={'batsman_run':'match_runs'},inplace=True)
gb.head()

,innings,overs,ballnumber,match_runs,extras_run,total_run,non_boundary,isWicketDelivery
ID,,,,,,,,
335982,10,7,12,1,4,5,0,1
335985,30,173,48,23,1,24,0,1
335992,16,118,66,13,2,15,0,1
335996,14,109,28,12,0,12,0,1
335998,2,19,3,1,0,1,0,0

In [160]:
virat = virat.merge(gb['match_runs'],how='left',on='ID')

In [162]:
virat['match_runs'].max()

113

In [154]:
del(virat['match_runs'])

In [164]:
virat.to_excel('Virat.xlsx',engine='xlsxwriter')

In [100]:
def inninfVsTeam(team):
    mi = virat[virat['bowling_team']==team].copy()
    return mi.ID.unique().shape[0]

In [102]:
teamsall = virat['bowling_team'].value_counts()
teamsall.reset_index()

                      index  bowling_team
0       Chennai Super Kings           806
1            Mumbai Indians           633
2     Kolkata Knight Riders           613
3          Delhi Daredevils           553
4           Kings XI Punjab           541
5          Rajasthan Royals           530
6       Sunrisers Hyderabad           433
7           Deccan Chargers           230
8             Gujarat Lions           186
9            Delhi Capitals           150
10  Rising Pune Supergiants           128
11           Gujarat Titans           110
12             Punjab Kings           106
13            Pune Warriors           101
14   Rising Pune Supergiant            67
15     Kochi Tuskers Kerala            52
16     Lucknow Super Giants            27

In [88]:
vi = virat[['ID','bowling_team']].copy()
print(vi.shape)
vi.drop_duplicates(subset='ID')
print(vi.shape)

(5266, 2)
(5266, 2)

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int64
 1   innings            225954 non-null  int64
 2   overs              225954 non-null  int64
 3   ballnumber         225954 non-null  int64
 4   batter             225954 non-null  object
 5   bowler             225954 non-null  object
 6   non-striker        225954 non-null  object
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int64
 9   extras_run         225954 non-null  int64
 10  total_run          225954 non-null  int64
 11  non_boundary       225954 non-null  int64
 12  isWicketDelivery   225954 non-null  int64
 13  player_out         11151 non-null   object
 14  kind               11151 non-null   object
 15  fielders_involved  7988 non-null    object
 16  BattingTeam        225954 non-null  object
dtypes: int64(9), object(8)
memory usage: 29.3+ MB

Virat Kohli Stats

In [22]:
virat = data[data['batter'] == 'V Kohli']
virat.shape

(5266, 17)

In [6]:
virat['bowling_team'] = virat['bowling_team'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
virat['bowling_team'] = virat['bowling_team'].str.replace('Delhi Daredevils','Delhi Capitals')

C:\Users\bidwai_t\AppData\Local\Temp\ipykernel_101552\2675810267.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  virat['bowling_team'] = virat['bowling_team'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
C:\Users\bidwai_t\AppData\Local\Temp\ipykernel_101552\2675810267.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  virat['bowling_team'] = virat['bowling_team'].str.replace('Delhi Daredevils','Delhi Capitals')

In [7]:
virat['bowling_team'].unique()

array(['Mumbai Indians', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Delhi Capitals',
       'Rajasthan Royals', 'Chennai Super Kings', 'Sunrisers Hyderabad',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants'],
      dtype=object)

In [8]:
virat.sample(5)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
146633,620,1,Royal Challengers Bangalore,Gujarat Lions,11,1,V Kohli,AB de Villiers,RA Jadeja,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
68186,288,2,Royal Challengers Bangalore,Rajasthan Royals,11,5,V Kohli,CH Gayle,SK Warne,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
168694,11153,1,Royal Challengers Bangalore,Kolkata Knight Riders,5,1,V Kohli,PA Patel,PP Chawla,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
4562,20,1,Royal Challengers Bangalore,Gujarat Lions,1,2,V Kohli,CH Gayle,DS Kulkarni,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
102489,432,2,Royal Challengers Bangalore,Sunrisers Hyderabad,16,6,V Kohli,MC Henriques,A Mishra,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [9]:
total_runs = virat['batsman_runs'].sum()
print("Total_runs : ",total_runs)
balls_faced = virat['batsman_runs'].count()
print('Balls faced : ',balls_faced)
total_matches = len(virat['match_id'].unique())
dismisal_count  = virat['player_dismissed'].count()
print("Dismissed number : ",dismisal_count)
print("Total matches : ",total_matches)
print("Average : ",total_runs/dismisal_count)

Total_runs :  5434
Balls faced :  4211
Dismissed number :  152
Total matches :  169
Average :  35.75

In [29]:
matches = virat.drop_duplicates(subset=['match_id'])
matches.sample(5)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
32306,139,1,Royal Challengers Bangalore,Kings XI Punjab,13,1,V Kohli,MV Boucher,PP Chawla,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
173968,11330,1,Royal Challengers Bangalore,Chennai Super Kings,1,5,V Kohli,PA Patel,DL Chahar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
94974,401,2,Royal Challengers Bangalore,Delhi Capitals,4,5,V Kohli,AB de Villiers,M Morkel,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
109520,462,2,Royal Challengers Bangalore,Mumbai Indians,4,2,V Kohli,PA Patel,Z Khan,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
127711,538,2,Royal Challengers Bangalore,Chennai Super Kings,4,5,V Kohli,RR Rossouw,A Nehra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [50]:
matches['bowling_team'] = matches['bowling_team'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
matches['bowling_team'] = matches['bowling_team'].str.replace('Delhi Daredevils','Delhi Capitals')

In [51]:
matches['bowling_team'].unique()

array(['Mumbai Indians', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Delhi Capitals',
       'Rajasthan Royals', 'Chennai Super Kings', 'Sunrisers Hyderabad',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants'],
      dtype=object)

In [52]:
matches_with_each_team = matches['bowling_team'].value_counts()
matches_with_each_team

Mumbai Indians             24
Kings XI Punjab            23
Chennai Super Kings        23
Sunrisers Hyderabad        23
Kolkata Knight Riders      21
Delhi Capitals             20
Rajasthan Royals           19
Gujarat Lions               5
Pune Warriors               5
Rising Pune Supergiant      2
Kochi Tuskers Kerala        2
Rising Pune Supergiants     2
Name: bowling_team, dtype: int64

In [53]:
runs_per_team = virat.groupby(['bowling_team']).sum()
runs_per_team = runs_per_team['batsman_runs']
runs_per_team

bowling_team
Chennai Super Kings        749
Delhi Capitals             829
Gujarat Lions              283
Kings XI Punjab            636
Kochi Tuskers Kerala        50
Kolkata Knight Riders      675
Mumbai Indians             628
Pune Warriors              128
Rajasthan Royals           370
Rising Pune Supergiant      83
Rising Pune Supergiants    188
Sunrisers Hyderabad        815
Name: batsman_runs, dtype: int64

In [56]:
avg_per_team = runs_per_team/matches_with_each_team
avg_per_team

Chennai Super Kings        32.565217
Delhi Capitals             41.450000
Gujarat Lions              56.600000
Kings XI Punjab            27.652174
Kochi Tuskers Kerala       25.000000
Kolkata Knight Riders      32.142857
Mumbai Indians             26.166667
Pune Warriors              25.600000
Rajasthan Royals           19.473684
Rising Pune Supergiant     41.500000
Rising Pune Supergiants    94.000000
Sunrisers Hyderabad        35.434783
dtype: float64

In [75]:
virat.sample(5)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
74702,317,2,Royal Challengers Bangalore,Kolkata Knight Riders,5,5,V Kohli,AB de Villiers,B Lee,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
164771,11137,1,Royal Challengers Bangalore,Chennai Super Kings,4,3,V Kohli,PA Patel,Harbhajan Singh,0,...,0,0,0,0,0,0,0,V Kohli,caught,RA Jadeja
103815,438,1,Royal Challengers Bangalore,Delhi Capitals,17,4,V Kohli,AB de Villiers,M Morkel,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
168757,11153,1,Royal Challengers Bangalore,Kolkata Knight Riders,15,3,V Kohli,AB de Villiers,N Rana,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
108829,459,2,Royal Challengers Bangalore,Delhi Capitals,8,4,V Kohli,PA Patel,S Nadeem,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [67]:
dismissed_per_team = virat[virat['player_dismissed'] == 'V Kohli']
dismissed_per_team['dismiss_value'] = 1
dismissed_per_team.groupby(['bowling_team']).sum()['dismiss_value']

C:\Users\bidwai_t\AppData\Local\Temp\ipykernel_88304\2895324736.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dismissed_per_team['dismiss_value'] = 1

bowling_team
Chennai Super Kings        20
Delhi Capitals             13
Gujarat Lions               4
Kings XI Punjab            21
Kochi Tuskers Kerala        1
Kolkata Knight Riders      18
Mumbai Indians             20
Pune Warriors               5
Rajasthan Royals           17
Rising Pune Supergiant      2
Rising Pune Supergiants     1
Sunrisers Hyderabad        20
Name: dismiss_value, dtype: int64

In [77]:
dismissed = virat[virat['player_dismissed'] == 'V Kohli']
dismissed['dismissal_kind_count'] = 1
dismissed.groupby(['dismissal_kind']).sum()['dismissal_kind_count']

C:\Users\bidwai_t\AppData\Local\Temp\ipykernel_88304\3927227394.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dismissed['dismissal_kind_count'] = 1

dismissal_kind
bowled               30
caught               95
caught and bowled     2
lbw                   7
run out               5
stumped               3
Name: dismissal_kind_count, dtype: int64

In [78]:
virat.sample(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
3946,17,2,Royal Challengers Bangalore,Rising Pune Supergiant,1,4,V Kohli,Mandeep Singh,JD Unadkat,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
12835,55,1,Royal Challengers Bangalore,Delhi Capitals,15,1,V Kohli,TM Head,Z Khan,0,...,0,0,0,0,1,0,1,TM Head,run out,SS Iyer

In [83]:
dismiss_by_bowler = virat[virat['player_dismissed'] == 'V Kohli']
dismiss_by_bowler['bowler_count'] = 1
bowler = dismiss_by_bowler.groupby(['bowler']).sum()['bowler_count']
bowler.sort_values(ascending=False)

C:\Users\bidwai_t\AppData\Local\Temp\ipykernel_88304\1454765775.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dismiss_by_bowler['bowler_count'] = 1

bowler
A Nehra              6
Sandeep Sharma       5
DS Kulkarni          4
MJ McClenaghan       4
Z Khan               3
                    ..
MM Patel             1
MS Gony              1
BJ Hodge             1
Mustafizur Rahman    1
Kuldeep Yadav        1
Name: bowler_count, Length: 91, dtype: int64

In [96]:
bowler['A Mishra']

2

In [94]:
bowler_runs = virat.groupby(['bowler']).sum()['batsman_runs']
bowler_runs.sort_values(ascending=False)

bowler
A Mishra           159
R Ashwin           153
UT Yadav           141
DJ Bravo           130
PP Chawla          123
                  ...
SMSM Senanayake      0
DAJ Bracewell        0
P Suyal              0
C Nanda              0
LA Carseldine        0
Name: batsman_runs, Length: 214, dtype: int64